<div class="container">
<h1>Você sabe como funciona o sistema politico brasileiro? 🇧🇷</h1>
<p> O Brasil é uma república federativa presidencialista, o que significa que é uma república, pois o chefe de Estado é eleito e possui mandato temporário; federativa, porque os estados têm autonomia política; e presidencialista, já que o presidente acumula as funções de chefe de Governo e chefe de Estado.</p>
<p>O poder no Brasil é dividido entre diferentes órgãos políticos, conforme a teoria dos três poderes, proposta por Charles de Montesquieu em sua obra O Espírito das Leis (1748). Montesquieu defendia que "somente o poder freia o poder", ou seja, para evitar abusos, era necessário dividir o poder do Estado entre três esferas: o Executivo, o Legislativo e o Judiciário. No Brasil, essas funções são desempenhadas, respectivamente, pelo presidente da República, pelo Congresso Nacional e pelo Supremo Tribunal Federal (STF).</p>
<p>O Executivo é responsável por implementar as leis e tomar decisões executivas, como vetar ou sancionar leis propostas pelo Legislativo e editar medidas provisórias. O Legislativo, por sua vez, tem a função de criar as leis e avaliar as propostas do presidente. O Congresso Nacional é bicameral, composto pela Câmara dos Deputados e pelo Senado. Para que um projeto de lei seja aprovado, ele precisa passar primeiro pela Câmara e, se aprovado, segue para o Senado. O Judiciário tem a responsabilidade de interpretar as leis e garantir que sejam cumpridas. Ele é composto por 11 ministros, escolhidos pelo presidente e aprovados pelo Senado.</p>

<div class="container-botao-return-pagina-inicial">


</div>

<button class="search-button" onclick="window.history.back()">Voltar</button>

</div>